html, body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
  }
  
  #root {
    height: 100vh;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .join-outerContainer {
    display: flex;
    justify-content: center;
    text-align: center;
    height: 100vh;
    align-items: center;
    background-image: linear-gradient(135deg, #f5f7fa 60%, #c3cfe2 100%); 

}
  
  .join-innerContainer {
    width: 20%;
    animation-name: moveInLeft;
	animation-duration: 1s;
  }
  
  .join-input {
    border-radius: 0;
    padding: 15px 20px;
    width: 100%;
  }
  
  .join-heading {
    color: #4143E3;
    font-size: 2.5em;
    padding-bottom: 10px;
    letter-spacing: 0.5rem;
    border-bottom: 2px solid white;
  }
  
  .join-button {
      color: #fff !important;
      text-transform: uppercase;
      text-decoration: none;
      background: #2979FF;
      padding: 20px;
      border-radius: 5px;
      display: inline-block;
      border: none;
      width: 100%;
  }
  
  .mt-20 {
    margin-top: 20px;
  }
  
  @media (min-width: 320px) and (max-width: 480px) {
    .joinOuterContainer {
      height: 100%;
    }
  
    .joinInnerContainer {
      width: 90%;
    }
   
  }
  
  button:focus {
    outline: 0;
  }

  .join-img{
      width: 30%;
      height: 45%;
      margin-top: 3rem;
      margin-left: 5rem;
      align-items: center;
      animation-name: moveInRight;
      animation-duration: 1s;
  }

  /* .join-video{
      position: absolute;
  } */


  @keyframes moveInRight {
    0% {
      opacity: 0;
      transform: translateX(10rem);
    }
    80% {
      transform: translateX(-1rem);
    }
    100% {
      opacity: 1;
      transform: translate(0);
    }
  }

  @keyframes moveInLeft{
	0% {
		opacity: 0;
		transform: translateX(-10rem);
	}

	80%{
		transform: translateX(1rem);
	}

	100%{
		opacity: 1;
		transform: translate(0);
	}
}



